

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  
  scroll-behavior: smooth;
}

.navbar{
    background-color: rgb(255, 171, 171);
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 1.5rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar p {
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(255, 194, 194);
  
}
.services-container h3{
  color: rgb(251, 121, 121);
}
.navbar a{
  text-decoration: none;
  color: black;
  font-weight: 600;

}

.navbar ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}
#header{
  width: 100%;
  height: 95vh;
  
}
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;      
  height: 100vh;       
  text-align: center;       
  padding: 20px;

}
.header-card{
  display: flex;
  background-color: rgba(255, 255, 255, 0.305);
  border-radius: 20px;         
  width: 95%;
  height: 80vh;                
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 2rem;
}
.header-texte{
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 50px;
}

.header-texte h2 {
  color: white;
}
.header-texte p {
  font-size: x-large;
  text-align: center;
  width: 80%;
}

.akun{
  border-radius: 20px;  
  
}

.titi{
  height: 35vh;
  object-fit: cover;
  border-radius: 20px;
}
.btn-contact{
  background-color: white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;

}
.btn-contact:hover{
    background-color: rgba(255, 255, 255, 0.445);
    transition-duration: 0.3s;
}

.btn-services{

}

.btn-services:hover{
    color: rgba(255, 255, 255, 0.445);
    transition-duration: 0.3s;
}

.btn-moi{

}

.btn-moi:hover{
    color: rgba(255, 255, 255, 0.445);
    transition-duration: 0.3s;
}

.btn-presentation{
  background-color: white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.btn-presentation:hover{
    background-color: rgba(255, 255, 255, 0.445);
    transition-duration: 0.3s;
}

#services{
  background-color: rgb(255, 171, 171);
  width: 100%;
  min-height: 100vh;
}
.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  box-sizing: border-box;
}

.services-container h1 {
  margin-top: 5rem;
}
.services-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.362);
  width: 50%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.services-card-all{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.services-card-2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.362);
  width: 20%;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.services-card-3{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.362);
  width: 20%;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.teddy{
  
  border-radius: 20px;
}

.pablo{
  
  max-width: 100%;
  width: 25%;
  height: auto;
  border-radius: 20px;
  
}

#apropos{
  height: 150vh;
}

.apropos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.apropos-card{
  display: flex;
  background-color: rgb(255, 171, 171);
  padding: 1rem;
  width: 80%;
  border-radius: 20px;
}
.apropos-container h1{
  margin-top: 5rem;
}

.apropos-container p{
  font-size: large;
  text-align: center;
  width: 75%;
}

.apropos-texte{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}



@media (max-width: 1315px)  {
  .navbar ul {
    gap: 15px;
  }
  .navbar a{
    
    font-size: 0.9rem;
  }
  #services{
    height: 175vh;
  }
  
    @media (max-width: 865px) {
    #services{
      height: 250vh;
    }
  }

  
  

   @media (max-width: 500px) {
    #services{
      height: 250vh;
    }
  }

     @media (max-width: 400px) {
    #services{
      height: 275vh;
    }
  }

       @media (max-width: 345px) {

        #header{
          height: 110vh;
        }
    #services{
      height: 275vh;
    }
  }

 
 
  .services-card-all{
    flex-wrap: wrap;
    
  }
}

